.banner{
    width: 100%;
}

.pitch-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EAE8DC;
    padding: 3em 0 ;
    
}

.intro{
    padding: 2em 10em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F4F2EC;
}

.intro-text{
    width: 70%;
    font-size: 20px;
}

.impar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAE8DC;
    padding: 2em 10em;
}

.impar-texto{
    width: 70%; 
}

.par{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F2EC;
    padding: 2em 10em;
}

.par-box{
    margin-left: 20em;
}

.imagem{
    width: 25%;
}