.hero-image3 {
  position: relative;
  width: 100%; /* Largura total */
  overflow: hidden; /* Esconde qualquer parte da imagem que exceda a div */
}

.hero-image3 img {
  width: 100%; /* Faz a imagem ocupar toda a largura da div */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.fundo-melhorias {
  background-color: #eae8dc;
}

/* Reduz a altura para 80% da largura */
@media (min-width: 768px) {
  .hero-image3 {
    padding-top: 25%;
  }
}

/* Para telas menores, você pode querer uma proporção diferente */
@media (max-width: 767px) {
  .hero-image3 {
    padding-top: 30%; /* Por exemplo, maior altura relativa para telas menores */
  }
}
