:root {
  --fonte-principal: 'Poppins', sans-serif;
  --verde-fundo: #008858;
  --cor-fundo: #ebecee;
  --preto: #000000;
  --branco: #ffffff;
  --cor-lilas: #4d225e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

p {
  color: var(--branco);
}

h2,
h3 {
  color: var(--cor-lilas);
}

body {
  font-family: 'Montserrat', sans-serif;
}

.logo-name {
  font-family: 'Cherry Bomb One', cursive;
}

.fundo-verde {
  background-color: var(--verde-fundo); /* Cor definida na variável CSS */
  margin-top: 50px;
}

.text-reset {
  text-decoration: none;
}

.btn {
  border-color: var(--branco); /* Cor da borda */
  color: var(--branco); /* Cor do texto */
}

.btn:hover {
  border-color: var(--branco);
  color: var(--verde-fundo); /* Cor do texto no hover */
  background-color: var(--branco); /* Cor de fundo no hover */
}

input[type='text']:focus {
  box-shadow: 0 0 10px var(--verde-fundo); /* Sombra ao redor do input */
}

input.input-email {
  background-color: #ebecee; /* Cor de fundo */
}

input.input-email:focus {
  box-shadow: 0 0 10px var(--cor-fundo); /* Sombra ao redor do input em foco */
}

input.input-telefone {
  background-color: #ebecee; /* Cor de fundo */
}

input.input-telefone:focus {
  box-shadow: 0 0 10px var(--cor-fundo); /* Sombra ao redor do input em foco */
}
